.box {
  position: relative;
  width: 190px;
  height: 190px;
  margin: 50px auto;
}

.square {
  position: absolute;
  width: 80px;
  height: 80px;
}

.red {
  background: #f26c6c;
  top: 0;
  left: 0;
}


.blue {
  background: #6c79f2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* нижній правий */
.green {
  background: #4cd48c;
  bottom: 0;
  right: 0;
}